
/* ------------------------------------------- SECTION 1 */
/* 1SECTION */
div.jumbotron.first-section {
    background-image: linear-gradient(to top, #15131B 0%, #01132A 50%, #010B17 100%);
    /* padding-top: 0px;
    padding-bottom: 0px; */
  }
  
  div.section-one-col {
      /* width: 25%;
      float: left;
      margin-left: 6%; */
  }
  
  .screen-section {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 95%;  
    z-index: 2;
  }
  
  div.section-one-row-one {
    margin: 40px 0 130px 0;
    height: 100px;
  }
  
  .what-section-title {
    color: #0CB49B;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300;
    text-align: center;
    font-size: 35px !important;
  }
  
  
  p.what-section-p {
    color: white;
    font-family: 'Montserrat', sans-serif; 
    font-size: 30px !important;
    font-weight: 500;
    margin-top: 30px; 
    text-align: center;
  }
  
  /* -------------------------------- ICONS */
  .first-section .col-md-4 {
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
    margin-top: 50px;
  }
  
  .first-section .icons {
    margin: 0 auto;
  }
  
  .first-section .icons-titles {
    color: white;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
  }
  
  .first-section .icons-p {
    color: white;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300;
    text-align: center;
    font-size: 18px !important;
  }
  
  .first-section div.robot-row{
    /* height: 200px;
    width: 100vw; */
  }
  
  
  .first-section a.robot-anchor {
    opacity: 0.5;
    
    /* border: none;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    position: relative;
    left: 47%;
    top: 50%;
    width: 100px;
    z-index: 3; */
  }
  
  .first-section  a.robot-anchor:hover {
    opacity: 1;
    background-image: none;
  }
  
  .first-section  div.arrow-circle-section1 {
    background-color: white;
    border-radius: 50% !important;
    position: absolute;
    left: 707px;
    top: 40px;
    height: 40px;
    width: 40px;
  }
  
  .first-section .arrow-section1 {
    position: absolute;
    right: 12px;
    top: 10px; 
  }

  .first-section .img-responsive {
    margin: 10% auto;
  }
  