

.Movie .modal-content {
  background-color: transparent;
  border: none;
}

/*
Name: Screen Time Web App
Description: Common Styles
Authors: Micaela Linda Villani & JBTellez
Tags: Ironhack Final Project - Full Stack Javascript App + Angularjs for the Front-end
*/

/* Fonts
---headings
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
--paragraphs
font-family: 'Montserrat', sans-serif; 
font-family: 'Merriweather', serif;
*/

/* .modal-content .modal-body {
  padding: 0;
} */





@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
*, *:before, *:after {
  box-sizing: border-box;
}

/****** First Card Part *****/
.Movie .movie-card {
  font-family:  'Montserrat', sans-serif; 
  font-size: 16px;
  color: white;
  width: 40vw;
  height: 60vh;
  margin: 0 auto;
}

.Movie .container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: black;
  /* border-radius: 1rem; */
  padding: 0px;
}

.Movie .hero {
  height: 50%;
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;  */
}

.Movie .hero:before {
  content: '';
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #EF4D7B;
  z-index: -1;
  -webkit-transform: skewY(-2.2deg);
          transform: skewY(-2.2deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.Movie p.overview {
  margin-top: 30px;
}

.Movie .back-btn {
    vertical-align: middle;
    position: absolute;
    left: 2%;
    top: 5%;
    height: 3rem;
}

.Movie .back-btn:active {
  background-color: #F37055; 
  transform: translateY(4px);
}

.Movie .cover {
  position: absolute;
  height: 50%;
  top: 8%;
  left: 8%;
  z-index: 2;
}

.Movie .details {
  height: 20%;
  width: 50%;
  position: absolute;
  top: 30%;
  left: 42%;
  padding: 0;
  margin: 0;
}

.Movie .movie-title {
  float: left;
  text-align: left;
  width: 100%;
  }



  .Movie a[data-tooltip] {
  position: relative;
}

.Movie a[data-tooltip]::before,
.Movie a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}

.Movie a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}

.Movie a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

.Movie a[data-tooltip]:hover::before,
.Movie a[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/
/* top tooltip */
.Movie a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}

.Movie a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}

/****** Second Card Part *****/
.Movie .description {
  text-align: left;
  position: relative;
  bottom: 0px;
  left: 3%;
  width: 90%;
  /* height: 100%; */
  font-size: 14px !important;
  line-height: 26px;
  color: white;
}

.Movie .runtime {
    color: #0CB49B;
    position: relative;
    font-weight: 500;
    left: 45%; 
    bottom: 0%;  
    margin: 10px;
}

/* ---------------- START  SCREENTIME BUTTON  */
.Movie a.startclock {
  outline: 0;
  background-color: white;
  border: 0;
  color: #F37055;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  padding: 3px 8px;
  font-size: 14px;
  line-height: 35px;
  cursor: pointer;
}

.Movie a:hover {
  background-image: -webkit-linear-gradient(top left, #F79432 0%, #EF4D7B 100%);
  background-image: -moz-linear-gradient(top left, #F79432 0%, #EF4D7B 100%);
  background-image: -o-linear-gradient(top left, #F79432 0%, #EF4D7B 100%);
  background-image: linear-gradient(to bottom right, #F79432 0%, #EF4D7B 100%);
  color:white;
  text-decoration: none !important;
} 